/* FONT FAMILY */

/*    font-family: 'Roboto', sans-serif; */

body {
    background-color: #e4eef6;
    /*margin:0;*/
}

/* GRID */

.grid-container {
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    /*centrer notre grid horizontalement*/
    align-content: center;
    /*centrer notre grid verticalement*/
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    /* largeur des quatres colonnes*/
    grid-auto-rows: min-content max-content auto;
    /*hauteur des lignes donc des colonnes*/
    gap: 35px;
    /*espace entre les colonnes et les lignes*/
}

.grid-item {
    display: grid;
    background-color: white;
    justify-items: center;
    /* centrer les éléments */
    text-align: center;
    /* centrer les éléments */
    border-radius: 5px;
}

/* CONTENT */

i {
    margin-top: 44px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

p {
    width: auto;
    text-align: justify;
    font-size: 15px;
    padding: 30px;
    margin-top: -30px;
}

hr {
    margin-top: -15px;
    margin-bottom: 30px;
    width: 70px;
}

a {
    display: inline-block;
    margin-bottom: 30px;
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}

/* BUTTON LINK */

a:hover {
    background-color: #409cf8;
    /* Green */
    border: none;
    padding: 15px 25px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    display: inline-block;
    /* pour les marges */
    border-radius: 20px;
    font-size: 14px;
}

/* TOOLTIP */
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
    }
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: rgb(116, 8, 8);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        font-size: 14px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top: 70%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        /*opacity: 0;
        transition: opacity 0.3s;*/
    }
    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom:100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent rgb(116, 8, 8) transparent;
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

@media only screen and (min-width: 600px) {
    body {
        background-color: #e4eef6;
        /*margin:0;*/
    }
    /* GRID */
    .grid-container {
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;
        /*centrer notre grid horizontalement*/
        align-content: center;
        /*centrer notre grid verticalement*/
        display: grid;
        grid-template-columns: repeat(auto-fill, 270px);
        /* largeur des quatres colonnes*/
        grid-auto-rows: 450px;
        /*hauteur des lignes donc des colonnes*/
        gap: 35px;
        /*espace entre les colonnes et les lignes*/
    }
    .grid-item {
        display: grid;
        background-color: white;
        justify-items: center;
        /* centrer les éléments */
        text-align: center;
        /* centrer les éléments */
        border-radius: 5px;
    }
    /* CONTENT */
    i {
        margin-top: 44px;
        margin-bottom: 20px;
    }
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }
    p {
        text-align: justify;
        font-size: 15px;
        padding: 30px;
        margin-top: -30px;
    }
    hr {
        margin-top: -15px;
        margin-bottom: 30px;
        width: 70px;
    }
    a {
        padding-top: 10px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: black;
    }
    /* BUTTON LINK */
    a:hover {
        background-color: #409cf8;
        /* Green */
        border: none;
        padding: 15px 25px;
        /*text-align: center;*/
        /*text-decoration: none;*/
        display: inline-block;
        /* pour les marges */
        border-radius: 20px;
        font-size: 14px;
    }
    /* TOOLTIP */
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
    }
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: rgb(116, 8, 8);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        font-size: 14px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top: 70%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        /*opacity: 0;
        transition: opacity 0.3s;*/
    }
    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom:100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent rgb(116, 8, 8) transparent;
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #e4eef6;
        /*margin:0;*/
    }
    /* GRID */
    .grid-container {
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;
        /*centrer notre grid horizontalement*/
        align-content: center;
        /*centrer notre grid verticalement*/
        display: grid;
        grid-template-columns: repeat(4, 270px);
        /* largeur des quatres colonnes*/
        grid-auto-rows: 450px;
        /*hauteur des lignes donc des colonnes*/
        gap: 35px;
        /*espace entre les colonnes et les lignes*/
    }
    .grid-item {
        display: grid;
        background-color: white;
        justify-items: center;
        /* centrer les éléments */
        text-align: center;
        /* centrer les éléments */
        border-radius: 5px;
    }
    /* CONTENT */
    i {
        margin-top: 44px;
        margin-bottom: 20px;
    }
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }
    p {
        text-align: justify;
        font-size: 15px;
        padding: 30px;
        margin-top: -30px;
    }
    hr {
        margin-top: -15px;
        margin-bottom: 30px;
        width: 70px;
    }
    a {
        padding-top: 10px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: black;
    }
    /* BUTTON LINK */
    a:hover {
        background-color: #409cf8;
        /* Green */
        border: none;
        padding: 15px 25px;
        /*text-align: center;*/
        /*text-decoration: none;*/
        display: inline-block;
        /* pour les marges */
        border-radius: 20px;
        font-size: 14px;
    }
    
    /* TOOLTIP */
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
    }
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: rgb(116, 8, 8);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        font-size: 14px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top: 70%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        /*opacity: 0;
        transition: opacity 0.3s;*/
    }
    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom:100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent rgb(116, 8, 8) transparent;
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}