/* FONT FAMILY */

/*    font-family: 'Roboto', sans-serif; */
body {
    background-color: #e4eef6;
    /*margin:0;*/
}
/* GRID */
.grid-container {
    
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    /*centrer notre grid horizontalement*/
    align-content: center;
    /*centrer notre grid verticalement*/
    display: grid;
    grid-template-columns: repeat(auto-fill,1fr);
    /* largeur des quatres colonnes*/
    grid-auto-rows: min-content max-content auto;
    /*hauteur des lignes donc des colonnes*/
    gap: 35px;
    /*espace entre les colonnes et les lignes*/
    
}
.grid-item {
    display: grid;
    background-color: white;
    justify-items: center;
    /* centrer les éléments */
    text-align: center;
    /* centrer les éléments */
    border-radius: 5px;
}
/* CONTENT */
i {
    margin-top: 44px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
p {
    width: auto;
    text-align: justify;
    font-size: 15px;
    padding: 30px;
    margin-top: -30px;
}
hr {
    margin-top: -15px;
    margin-bottom: 30px;
    width: 70px;
}
a {
    display:inline-block;
    margin-bottom: 30px;
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}
/* BUTTON LINK */
a:hover {
    background-color: #409cf8;
    /* Green */
    border: none;
    padding: 15px 25px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    display: inline-block;
    /* pour les marges */
    border-radius: 20px;
    font-size: 14px;
}
@media only screen and (min-width: 600px) {
    body {
        background-color: #e4eef6;
        /*margin:0;*/
    }
    /* GRID */
    .grid-container {
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;
        /*centrer notre grid horizontalement*/
        align-content: center;
        /*centrer notre grid verticalement*/
        display: grid;
        grid-template-columns: repeat(auto-fill, 270px);
        /* largeur des quatres colonnes*/
        grid-auto-rows: 450px;
        /*hauteur des lignes donc des colonnes*/
        gap: 35px;
        /*espace entre les colonnes et les lignes*/
    }
    .grid-item {
        display: grid;
        background-color: white;
        justify-items: center;
        /* centrer les éléments */
        text-align: center;
        /* centrer les éléments */
        border-radius: 5px;
    }
    /* CONTENT */
    i {
        margin-top: 44px;
        margin-bottom: 20px;
    }
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }
    p {
        text-align: justify;
        font-size: 15px;
        padding: 30px;
        margin-top: -30px;
    }
    hr {
        margin-top: -15px;
        margin-bottom: 30px;
        width: 70px;
    }
    a {
        padding-top: 10px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: black;
    }
    /* BUTTON LINK */
    a:hover {
        background-color: #409cf8;
        /* Green */
        border: none;
        padding: 15px 25px;
        /*text-align: center;*/
        /*text-decoration: none;*/
        display: inline-block;
        /* pour les marges */
        border-radius: 20px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #e4eef6;
        /*margin:0;*/
    }
    /* GRID */
    .grid-container {
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;
        /*centrer notre grid horizontalement*/
        align-content: center;
        /*centrer notre grid verticalement*/
        display: grid;
        grid-template-columns: repeat(4, 270px);
        /* largeur des quatres colonnes*/
        grid-auto-rows: 450px;
        /*hauteur des lignes donc des colonnes*/
        gap: 35px;
        /*espace entre les colonnes et les lignes*/
    }
    .grid-item {
        display: grid;
        background-color: white;
        justify-items: center;
        /* centrer les éléments */
        text-align: center;
        /* centrer les éléments */
        border-radius: 5px;
    }
    /* CONTENT */
    i {
        margin-top: 44px;
        margin-bottom: 20px;
    }
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }
    p {
        text-align: justify;
        font-size: 15px;
        padding: 30px;
        margin-top: -30px;
    }
    hr {
        margin-top: -15px;
        margin-bottom: 30px;
        width: 70px;
    }
    a {
        padding-top: 10px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: black;
    }
    /* BUTTON LINK */
    a:hover {
        background-color: #409cf8;
        /* Green */
        border: none;
        padding: 15px 25px;
        /*text-align: center;*/
        /*text-decoration: none;*/
        display: inline-block;
        /* pour les marges */
        border-radius: 20px;
        font-size: 14px;
    }
}